---
layout: default
---


<div class="post">

    <div class="post-content">

        <h1>About me</h1>

        <p>Lorem ipsum dolor sit amet </p>

        <h2>Education</h2>
        <ul>
            <li>B.S in Artificial Intelligence Engineering at Bahcesehir University, Istanbul, Turkey, 2021-2024</li>
        </ul>

        <h2>Experience</h2>
        <ul>
            <li>Tubitak 1001 Project Internship 2023-Present</li>
            <li>Project Lead at Center for Artificial Intelligence, Bahcesehir University, 2021-Present</li>
        </ul>

        <h2>Projects</h2>
        <ul>
            <li>Project 1</li>
            <li>Project 2</li>

        </ul>

        <h2><a href="https://www.linkedin.com/in/osbm/details/certifications/">Certifications</a></h2>
        <ul>
            <li><b>Huggingface</b> - Certificate of Excellence, Hugging Face Deep Reinforcement Learning Course</li>
            <li><b>Kaggle</b> - Advanced SQL</li>
            <li><b>Kaggle</b> - Pandas</li>
            <li><b>Kaggle</b> - Data Cleaning</li>
            <li><b>Hackerrank</b> - Python</li>
            <li><b>Hackerrank</b> - R</li>
            <li><b>IBM</b> - Machine Learning with Python</li>
        </ul>

        <h2>Skills</h2>
        <ul>
            <li><b>Programming:</b> Python, R, C++, Javascript</li>
            <li><b>Frameworks:</b> Pytorch, Keras, Jax, Huggingface </li>
            <li><b>Tools:</b> Git, Docker, Linux, Kubernetes</li>
            <li><b>Soft Skills:</b> Teamwork, Communication, Leadership, Problem Solving, Time Management</li>

        </ul>




        


    
    </div>
</div>